<main class="main">
  <form class="main__form js-form">
    <label for="search"
      ><input type="text" id="search" class="main__input js-filter"
    /></label>
    <button class="main__search--button js-search-button">Search</button>
  </form>

  <section class="main__container">
    <section class="main__container--favorites">
      <h2>My favorites</h2>
      <ul class="js-favorites"></ul>
    </section>
    <section class="main__container--shows">
      <h2>Series</h2>
      <ul class="js-shows"></ul>
    </section>
  </section>
</main>
